@import url('https://fonts.googleapis.com/css?family=Barlow:300,400,500,600,700,800,900');
body {
    font-family: 'Barlow', sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
    font-weight: 400;
}

input, select, textarea, button {
    font-family: 'Barlow', sans-serif;
}

body, td, .g-std {
    font-family: 'Barlow', sans-serif;
    font-size: 15px;
    background: url(../images/main_bg.jpg) repeat;
    background-attachment: fixed;
}

* {
    text-decoration: none;
    font-family: 'Barlow', sans-serif;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.rte .description-inner ul li {
    margin-bottom: 6px;
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
}
.product-description ul strong {
    color: #333;
    font-family: 'Ubuntu', sans-serif;
}
.pagelayout {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0px -2px 15px -3px #ccc;
}

.header-top {
    margin: 0;
    padding: 0;
}

.header-top .header-top-content {
    background-color: #5d5d5d;
    height: 5px;
    width: 100%;
}

.top-info {
    display: inline-block;
    padding-top: 5px;
    padding-left: 10px;
}

.top-info p {
    display: inline-block;
    color: #fff;
    margin: 0 15px 0 0px;
}
.fixedWidth {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}
.header-social-icons {
    display: inline-block;
    float: right;
    padding-top: 4px;
}

.header-social-icons a {
    color: #fff;
    margin: 0 0px;
    line-height: 22px;
    border-right: 1px solid #fff;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
}

.header-social-icons a:hover {
    color: #1f3142;
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
}

.header-social-icons a:last-child {
    border-right: none;
}
#gh {
    min-width: 320px;
    max-width: 1200px;
    margin: 0 auto;
}

.tb_v4bc {
    max-width: 1200px;
    margin: 0 auto;
}

table.tb_v4bc tr td a {
    display: inline;
    color: #000;
    color: #00c;
    font-size: 13px;
}

div.v4sem span {
    padding: 0 5px 0 5px;
}

table.estorepower-content {
    max-width: 1200px;
    margin: 0 auto;
}

.header-social-icons a {
    color: #fff;
    margin: 0 0px;
    line-height: 22px;
    border-right: 1px solid #fff;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
}

.header-social-icons a:hover {
    color: #00adef;
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
}

.header-social-icons a:last-child {
    border-right: none;
}

.mainContent {
    margin-top: 0px;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
}
.p_icons img {
    max-width: 50px;
}
.stBadge {
    min-width: 760px;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 17px;
}

mbg-nw {
    white-space: nowrap;
    color: #00c;
}

#gf-t-box {
    max-width: 1200px;
    margin: 0 auto;
}

.full-menu-wrap {
    border-top: 1px solid #5d5d5d;
    border-bottom: 1px solid #5d5d5d;
    min-height: 39px;
    line-height: 8px;
}

.full-menu {
    width: 100%;
    background: #5d5d5d;
    display: inline-block;
    min-height: 39px;
    line-height: 39px;
    margin: 2px 0;
}

.header .logo img {
    width: 100%;
}

.search-box {
    float: right;
    margin-top: 5px;
    position: relative;
}

.v4thldr a {
    margin-bottom: 15px;
    display: inline-block;
    width: 100%;
}

.header-main {
    PADDING-BOTTOM: 0;
    display: inline-block;
    width: 100%;
    margin-top: 5px;
    position: relative;
    margin-bottom: 0px;
}
.span12 h2 {
    font-size: 20px;
    color: #30404f;
    margin-bottom: 8px;
    font-weight: 600;
    text-transform: uppercase;
}
.logo {
    margin-top: 0px;
    width: 60%;
    float: none;
    text-align: center;
    margin: 0 auto;
}

@-moz-document url-prefix() {
    nav ul li.home {
        position: relative;
        top: 12px;
    }
}
/*====================menu====================*/
.toggle, [id^=drop] {
    display: none;
}

nav {
    clear: both;
    float: left;
    margin: 0px 0 0px 0;
    width: 100%;
    background: #5d5d5d;
}

nav ul {
    display: table;
    list-style: outside none none;
    margin: 0 auto;
    padding: 0;
    position: relative;
    z-index: 99;
    width: auto;
    max-width: 1100px;
    margin: 0 auto;
}

nav ul li {
    margin: 0px;
    float: left;
    font-size: 14px;
    font-weight: bold;
}

nav a {
    color: #fff !important;
    display: block;
    line-height: 40px;
    padding: 0 18px;
    text-decoration: none !important;
    font-weight: 400;
    animation: 8s ease 0s normal;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
}

nav ul li:last-child a {
    border-right: 0;
}

nav ul li ul li:hover {
    background: #000000;
}

nav a:hover {
    background: #1f3142 none repeat scroll 0 0;
    color: #fff !important;
}

nav li.home a:hover {
    background: transparent;
    color: #fff !important;
}

nav ul li:hover > ul {
    display: inherit;
}

li > a:only-child:after {
    content: '';
}

.rightTop {
    float: right;
}

.product-images {
    position: relative;
    padding: 0 20px 20px;
    width: 480px;
    float: left;
    height: 520px;
}

.product-description {
    width: 560px;
    float: left;
    padding-right: 20px;
}
.tabs {
    padding: 0 10px;
}
.rte {
    margin-top: 15px;
    border: 1px solid #ccc;
}
.rte .title {
    font-size: 16px; 
    color: #fff;
        background: #5d5d5d;
    padding: 8px;
    text-transform: uppercase;
    
}
.description-inner a {
    width: 100% !important;
}
.description-inner a {
    width: 50px;
}
.span12 h2 {
    border-top: 1px solid #5d5d5d;
    border-bottom: 1px solid #5d5d5d;
    padding: 10px 0;
    text-align: center;
    margin-top: 20px;
    position: relative;
}
.span3 {
    float: left;
    width: 14.5833333333333333%;
    margin-left: 1.0416666666666667%;
    margin-right: 1.0416666666666667%;
    margin-bottom: 30px;
}
[class*="span"] {
    margin-left: 0px !important;
}
.span4 {
    width: 22.58%;
    margin-left: 1.0416666666666667% !important;
}
.clear {
    clear: both;
}
.imagecenter {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    width: 200px;
    margin-top: 12px;
}
.span3 img {
    max-width: 100%;
    border: 0;
}
.span3 h4 {
    margin-top: 12px;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    letter-spacing: 0.5px;
}
.span3 h4 a {
    color: #333;
}
.span3 h4 a:hover {
    color: #1f3142;
}
.imagecenter img {
    text-align: center;
    margin: 0 auto;
}
.rte .description-inner {
    padding: 16px;
    background: #fff;
}
.rte p {
    font-size: 14px;
    margin-top: 2px;
    line-height: 20px;
    color: #2b2b2b;
}
ul.left-details {
    padding-left: 0;
}
ul.left-details li, ul.right-details li {
    font-size: 14px;
    margin-bottom: 4px;
    padding-left: 20px;
    list-style-type: disc;
    list-style-position: inside;
    color: #2b2b2b;
}
.product-description h1 {
    border-bottom: 1px solid #848484;
    font-size: 21px;
    color: #1f3142;
    padding-bottom: 2px;
    margin-bottom: 0;    
    margin-top: 0;
}
.desc {
    margin-top: 10px;
    display: inline-block;
    width: 100%;
}
.product-price {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.product-description h4, .span12 h2 {
    font-size: 18px;
    
    color: #30404f;
    margin-bottom: 8px;
    font-weight: 400;
}
.span12 h2 {
    font-weight: 600;
}
.product-description ul {
    list-style: disc;
    padding-left: 0px;
    margin: 0 0 20px;
    font-size: 14px;
    color: #777;
}
.product-description ul strong {
    color: #333;
}
.thumb {
    width: 100%;
}

.thumb img {
    max-width: 200px;
    margin-bottom: -10px;
}

.csslider {
    -moz-perspective: 400px;
    -ms-perspective: 400px;
    -webkit-perspective: 400px;
    perspective: 400px;
    display: inline-block;
    text-align: left;
    position: relative;
    margin-bottom: 22px;
    width: 400px;
}

.csslider > input {
    display: none;
}

.csslider > input:nth-of-type(12):checked ~ ul li:first-of-type {
    margin-left: -1100%;
}

.csslider > input:nth-of-type(11):checked ~ ul li:first-of-type {
    margin-left: -1000%;
}

.csslider > input:nth-of-type(10):checked ~ ul li:first-of-type {
    margin-left: -900%;
}

.csslider > input:nth-of-type(9):checked ~ ul li:first-of-type {
    margin-left: -800%;
}

.csslider > input:nth-of-type(8):checked ~ ul li:first-of-type {
    margin-left: -700%;
}

.csslider > input:nth-of-type(7):checked ~ ul li:first-of-type {
    margin-left: -600%;
}

.csslider > input:nth-of-type(6):checked ~ ul li:first-of-type {
    margin-left: -500%;
}

.csslider > input:nth-of-type(5):checked ~ ul li:first-of-type {
    margin-left: -400%;
}

.csslider > input:nth-of-type(4):checked ~ ul li:first-of-type {
    margin-left: -300%;
}

.csslider > input:nth-of-type(3):checked ~ ul li:first-of-type {
    margin-left: -200%;
}

.csslider > input:nth-of-type(2):checked ~ ul li:first-of-type {
    margin-left: -100%;
}

.csslider > input:nth-of-type(1):checked ~ ul li:first-of-type {
    margin-left: 0;
}
.panel a.btn {
    background: #1f3142;
    border: 1px solid #1f3142;
    color: #fff;
    text-decoration: none;
    border-radius: 0;
    padding: 8px 20px;
    text-align: center;
    margin: 12px 0 0px 0;
    display: inline-block;
}
.csslider > ul {
    position: relative;
    width: 400px;
    height: 450px;
    z-index: 1;
    font-size: 0;
    line-height: 0;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 50px;
}

.csslider > ul > li {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 15px;
    font-size: initial;
    line-height: normal;
    -moz-transition: all .5s cubic-bezier(.4,1.3,.65,1);
    -o-transition: all .5s ease-out;
    -webkit-transition: all .5s cubic-bezier(.4,1.3,.65,1);
    transition: all .5s cubic-bezier(.4,1.3,.65,1);
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    vertical-align: top;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    white-space: normal;
}

.csslider > ul > li img {
    width: 90%;
}

.csslider > ul > li.scrollable {
    overflow-y: scroll;
}

.csslider > .navigation {
    position: absolute;
    bottom: inherit;
    left: 50%;
    z-index: 10;
    margin-bottom: -10px;
    font-size: 0;
    line-height: 0;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.csslider > .navigation > div {
    margin-left: -100%;
}

.csslider > .navigation label {
    position: relative;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    margin: 0;
    padding: 3px;
    float: none;
}

.csslider > .navigation label img {
    width: 58px;
    border: 1px solid #ccc;
    vertical-align: top;
}

.csslider > .navigation label:after {
    content: none;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -6px;
    margin-top: -6px;
    background: #71ad37;
    border-radius: 50%;
    padding: 6px;
    opacity: 0;
}

.csslider > .arrows {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    left: -12px;
    top: 50%;
    width: 100%;
    height: 26px;
    padding: 0 31px;
    z-index: 0;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.csslider.inside .navigation {
    bottom: 10px;
    margin-bottom: 10px;
}

.csslider.inside .navigation label {
    border: 1px solid #7e7e7e;
}

.csslider > .arrows label {
    display: none;
    position: absolute;
    top: -50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    -moz-transition: .15s;
    -o-transition: .15s;
    -webkit-transition: .15s;
    transition: .15s;
}

.csslider > .arrows label:hover {
    margin: 0;
}

.desktop-2, .tabWrapper .btn {
    margin-bottom: 20px;
    text-align: center;
}

.csslider > .arrows label:before {
    content: '';
    position: absolute;
    top: -100%;
    left: -100%;
    height: 300%;
    width: 300%;
}

.csslider.infinity > input:first-of-type:checked ~ .arrows label:last-of-type, .csslider > input:nth-of-type(1):checked ~ .arrows label:nth-of-type(0), .csslider > input:nth-of-type(10):checked ~ .arrows label:nth-of-type(9), .csslider > input:nth-of-type(11):checked ~ .arrows label:nth-of-type(10), .csslider > input:nth-of-type(12):checked ~ .arrows label:nth-of-type(11), .csslider > input:nth-of-type(13):checked ~ .arrows label:nth-of-type(12), .csslider > input:nth-of-type(2):checked ~ .arrows label:nth-of-type(1), .csslider > input:nth-of-type(3):checked ~ .arrows label:nth-of-type(2), .csslider > input:nth-of-type(4):checked ~ .arrows label:nth-of-type(3), .csslider > input:nth-of-type(5):checked ~ .arrows label:nth-of-type(4), .csslider > input:nth-of-type(6):checked ~ .arrows label:nth-of-type(5), .csslider > input:nth-of-type(7):checked ~ .arrows label:nth-of-type(6), .csslider > input:nth-of-type(8):checked ~ .arrows label:nth-of-type(7), .csslider > input:nth-of-type(9):checked ~ .arrows label:nth-of-type(8) {
    display: block;
    left: 12px;
    background: url(../images/left-arrow.svg);
    background-size: 20px;
}

.csslider.infinity > input:last-of-type:checked ~ .arrows label:first-of-type, .csslider > input:nth-of-type(1):checked ~ .arrows label:nth-of-type(2), .csslider > input:nth-of-type(10):checked ~ .arrows label:nth-of-type(11), .csslider > input:nth-of-type(11):checked ~ .arrows label:nth-of-type(12), .csslider > input:nth-of-type(12):checked ~ .arrows label:nth-of-type(13), .csslider > input:nth-of-type(2):checked ~ .arrows label:nth-of-type(3), .csslider > input:nth-of-type(3):checked ~ .arrows label:nth-of-type(4), .csslider > input:nth-of-type(4):checked ~ .arrows label:nth-of-type(5), .csslider > input:nth-of-type(5):checked ~ .arrows label:nth-of-type(6), .csslider > input:nth-of-type(6):checked ~ .arrows label:nth-of-type(7), .csslider > input:nth-of-type(7):checked ~ .arrows label:nth-of-type(8), .csslider > input:nth-of-type(8):checked ~ .arrows label:nth-of-type(9), .csslider > input:nth-of-type(9):checked ~ .arrows label:nth-of-type(10) {
    display: block;
    right: -15px;
    background: url(../images/right-arrow.svg);
    background-size: 20px;
}

.section-title {
    margin-top: 20px;
}

.desktop-2 {
    width: 14.5833333333333333%;
    float: left;
    position: relative;
}

.product-info {
    margin-top: 10px;
}

.product-index .product-title {
    clear: left;
    display: block;
}

.product-info .prod-price {
    display: inline-block;
    float: left;
    margin-top: 14px;
    font-size: 16px;
    font-weight: 500;
}

.tabWrapper {
    margin-top: 20px;
}

.tabWrapper .btn {
    background: #90ced2;
    border: none;
    -webkit-transition: background .5s ease,color .5s ease;
    -moz-transition: background .5s ease,color .5s ease;
    -o-transition: background .5s ease,color .5s ease;
    transition: background .5s ease,color .5s ease;
    -webkit-appearance: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    line-height: normal;
    padding: 15px 30px;
    color: #fff;
}

.panel, .panel table, .panel table td {
    border: 1px solid #ddd;
}

.essTabs input:checked + label, .essTabs label, .panel table td:first-child {
    font-weight: 700;
}

.essTabs {
    float: right;
    height: 340px;
    overflow: hidden;
    position: relative;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.essTabs::before {
    background: #5d5d5d;
    content: "";
    display: block;
    height: 44px;
    position: absolute;
    width: 100%;
    z-index: 0;
    background-size: 100% 100%;
}

.essTabs .tabBox {
    position: relative;
}

.essTabs label {
    color: #fff;
    cursor: pointer;
    float: left;
    font-size: 14px;
    height: 43px;
    line-height: 45px;
    margin-right: 1px;
    padding: 0 30px;
    text-align: center;
    text-transform: uppercase;
}

.essTabs .checkbox {
    display: none;
}

.essTabs input:checked + label, .essTabs label:hover {
    background-color: #1f3142;
    color: #fff;
}

.essTabs .checkbox:checked ~ .panel {
    display: block;
    max-height: 215px;
    overflow-y: auto;
    padding-bottom: 30px;
}

.panel {
    background-color: #fff;
    color: #565656;
    display: none;
    font-size: 14px;
    left: 0;
    line-height: 20px;
    padding: 25px 30px 20px;
    position: absolute;
    top: 43px;
    width: 94.3%;
    height: 300px;
}

.scrollBox {
    padding-right: 35px;
}

.panel p {
    padding: 0 0 10px;
    margin: 0;
    font-size: 14px;
    color: #2b2b2b;
}

.panel a {
    color: #00adef;
}
.panel a:hover,
.panel a:focus {
    color: #000;
}
.panel table td {
    letter-spacing: .5px;
}
footer {
    background: #fbfbfb;
    padding-bottom: 20px;
    padding-top: 20px;
}
footer .big-footer {
    border-top: 1px solid #5d5d5d;
    border-bottom: 1px solid #5d5d5d;
    color: #6d6d6d;
    display: inline-block;
    width: 100%;
}
.thumb {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.thumb img {
    max-width: 500px;
    margin-bottom: 0;
    margin: 10px 0;
}
.innerContent {
    background:#fff;
    display: inline-block;
    width: 100%;
    padding: 30px 0px 0 0;
}
@media all and (max-width: 1024px) {

    .pagelayout, .stBadge, #gf-t-box {
        width: 96%;
        padding: 0 2%;
    }

    #gh {
        width: 100%;
        padding: 35px 5px 10px 5px;
    }

    #org-footer {
        width: 96%;
        padding: 0 2%;
    }

    nav a {
        padding: 0 15px;
    }

    .essTabs label {
        float: none;
        display: block;
        color: #fff;
        background-color: #30404f;
        font-size: 14px;
        padding: 8px;
        text-align: left;
        margin-right: 0;
        height: auto;
        line-height: normal;
    }

    .essTabs::before {
        background: #90ced2;
        content: "";
        display: block;
        height: 33px;
        position: absolute;
        width: 100%;
        z-index: 0;
        background-size: 100% 100%;
    }

    .essTabs .ckBox:checked ~ label:before {
        content: '-';
    }

    .tabBox {
        padding: 0;
        background: 0 0;
    }

    .tabBox + .tabBox {
        margin-top: 5px;
    }

    .panel {
        border: 1px solid #ccc;
        border-top: 0;
        padding: 15px 0 15px 15px;
        position: static;
        width: auto;
        height: auto;
    }

    .scrollBox {
        padding-right: 15px;
    }

    .product-description {
        width: 530px;
        float: left;
    }

    .product-images {
        width: 440px;
        padding: 0;
    }

    .csslider > ul {
        width: 400px;
        height: 630px;
    }

    .csslider.infinity > input:last-of-type:checked ~ .arrows label:first-of-type, .csslider > input:nth-of-type(1):checked ~ .arrows label:nth-of-type(2), .csslider > input:nth-of-type(10):checked ~ .arrows label:nth-of-type(11), .csslider > input:nth-of-type(11):checked ~ .arrows label:nth-of-type(12), .csslider > input:nth-of-type(12):checked ~ .arrows label:nth-of-type(13), .csslider > input:nth-of-type(2):checked ~ .arrows label:nth-of-type(3), .csslider > input:nth-of-type(3):checked ~ .arrows label:nth-of-type(4), .csslider > input:nth-of-type(4):checked ~ .arrows label:nth-of-type(5), .csslider > input:nth-of-type(5):checked ~ .arrows label:nth-of-type(6), .csslider > input:nth-of-type(6):checked ~ .arrows label:nth-of-type(7), .csslider > input:nth-of-type(7):checked ~ .arrows label:nth-of-type(8), .csslider > input:nth-of-type(8):checked ~ .arrows label:nth-of-type(9), .csslider > input:nth-of-type(9):checked ~ .arrows label:nth-of-type(10) {
        right: 20px;
    }

    .big-footer > div {
        padding: 0 6px;
    }

    .csslider.infinity > input:first-of-type:checked ~ .arrows label:last-of-type, .csslider > input:nth-of-type(1):checked ~ .arrows label:nth-of-type(0), .csslider > input:nth-of-type(10):checked ~ .arrows label:nth-of-type(9), .csslider > input:nth-of-type(11):checked ~ .arrows label:nth-of-type(10), .csslider > input:nth-of-type(12):checked ~ .arrows label:nth-of-type(11), .csslider > input:nth-of-type(13):checked ~ .arrows label:nth-of-type(12), .csslider > input:nth-of-type(2):checked ~ .arrows label:nth-of-type(1), .csslider > input:nth-of-type(3):checked ~ .arrows label:nth-of-type(2), .csslider > input:nth-of-type(4):checked ~ .arrows label:nth-of-type(3), .csslider > input:nth-of-type(5):checked ~ .arrows label:nth-of-type(4), .csslider > input:nth-of-type(6):checked ~ .arrows label:nth-of-type(5), .csslider > input:nth-of-type(7):checked ~ .arrows label:nth-of-type(6), .csslider > input:nth-of-type(8):checked ~ .arrows label:nth-of-type(7), .csslider > input:nth-of-type(9):checked ~ .arrows label:nth-of-type(8) {
        left: 20px;
    }
}

@media all and (max-width: 995px) {
    .wrapper {
        width: 96%;
        padding: 0 2%;
    }

    .header li a {
        display: block;
        padding: 2px 10px;
        border-right: 1px solid #f4f4f4;
        text-decoration: none;
        color: #333;
    }

    .csslider > .navigation label img {
        width: 50px;
        border: 1px solid #ccc;
        vertical-align: top;
    }

    .csslider > ul {
        width: 300px;
        height: 465px;
    }

    .product-images {
        width: 320px;
        padding: 0;
    }

    .csslider {
        width: 294px;
    }

    .product-description {
        width: 415px;
        float: left;
    }

    nav a {
        color: #fff !important;
    }

    nav a, .menu li .toggle {
        letter-spacing: 0.5px;
        border: 0 none;
        padding: 0 20px;
    }

    .toggle + a, .menu {
        display: none;
    }
    nav ul {
        width: 100%;
    }
    .toggle.toggle-title {
        background-color: transparent;
        text-align: left;
        text-transform: uppercase;
        border: medium none;
        color: #fff;
        display: block;
        font-size: 16px;
        line-height: 35px;
        padding: 0 20px;
        text-decoration: none;
        position: relative;
    }

    .toggle {
        display: block;
    }

    .toggle-title::before {
        background-image: url("../images/menu-button.png");
        background-size: 30px auto;
        content: "";
        height: 30px;
        position: absolute;
        right: 10px;
        top: 3px;
        width: 30px;
    }

    .toggle:hover {
    }

    [id^=drop]:checked + ul {
        display: block;
    }

    .menu li .toggle::after {
        color: #fff;
        content: "";
        font-size: 13px;
        position: absolute;
        right: 18px;
        font-weight: normal;
    }

    .menu li .toggle {
        color: #fff !important;
        position: relative;
        line-height: 40px;
        padding: 0 19px;
        text-decoration: none !important;
        font-weight: bold;
        text-transform: uppercase;
    }

    .menu li .toggle:hover {
        background: #43326d none repeat scroll 0 0;
    }

    nav ul li {
        background-color: darkgray;
        text-align: left;
        border-bottom: 1px solid #d1d1d1;
        display: block;
        width: 100%;
        font-size: 13px;
        font-weight: bold;
    }

    .header-top-content {
        width: 540px;
    }

    .search input[type="text"] {
        width: 285px;
    }
}

@media all and (max-width: 767px) {

    .header .logo {
        float: left;
        text-decoration: none;
        position: relative;
        top: 0px;
        left: 0px;
    }

    .csslider > .navigation label img {
        width: 58px;
        border: 1px solid #ccc;
        vertical-align: top;
    }

    .csslider, .desktop-4 {
        width: 100%;
    }

    .product-images {
        float: none;
        margin: 0 auto;
    }

    .product-images {
        width: 450px;
        height: 705px;
    }

    .product-description {
        width: 415px;
        float: none;
    }

    .header-top {
        margin: 0 -15px;
        padding: 0;
        border-top: none;
    }

    #gh {
        width: 100%;
        padding: 0;
    }

    #gh-top, #gh-gb {
        position: relative;
        height: auto;
    }

    .gf-t td {
        padding: 1px 0;
        text-align: center;
    }

    .header-top-content {
        width: 100%;
        float: none;
        position: relative;
    }

    .text-left, .text-right {
        text-align: center;
        width: 100%;
    }

    .header-top-content {
        float: none;
        background-color: #30404f;
        padding-bottom: 7px;
        text-align: center;
        margin-bottom: 20px;
    }

    .header-top-content:before {
        height: auto;
        width: 100%;
        content: "";
        background-color: #30404f;
        position: relative;
        top: -5px;
        left: 0;
        z-index: -1;
    }

    .header-social-icons {
        display: inline-block;
        float: none;
        padding-top: 2px;
    }

    .header-top-content:after {
        width: 0;
        height: 0;
        border-top: 0 solid transparent;
        border-bottom: 38px solid transparent;
        border-right: 38px solid #30404f;
        content: "";
        position: relative;
        left: -38px;
        top: -5px;
        z-index: 0;
        content: none;
    }

    .search-box {
        float: none;
    }

    .rightTop {
        float: none;
    }

    .search-box {
        margin-top: 20px;
        position: relative;
        margin: 0 auto;
        width: 281px;
        text-align: center;
        margin-bottom: 10px;
    }

    body {
        overflow-x: hidden;
    }

    .gh-tbl, .tb_v4bc {
        display: none;
    }

    .header .logo {
        display: block;
        float: left;
        text-decoration: none;
        text-align: left;
        margin-bottom: 10px;
    }

    .header-top:before {
        height: auto;
        width: 100%;
        content: "";
        background-color: #30404f;
        position: relative;
        /* top: 0px; */
        /* right: 0; */
    }

    .search {
        width: 340px;
        float: right;
        padding-top: 10px;
    }

    .search input[type="text"] {
        width: 265px;
    }

    .header-main {
        padding-left: 15px;
        padding-right: 15px;
    }
    .essTabs {
        height: auto;
    }
}

@media all and (max-width: 640px) {
    .search {
        width: 300px;
    }

    .search input[type="text"] {
        width: 230px;
    }

    .header-main {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media all and (max-width: 568px) {
    .search {
        width: 265px;
    }
}

@media all and (max-width: 480px) {
    .search input[type="text"] {
        width: 325px;
    }
    .span4 {
    width: 47%;
    margin-left: 1.0416666666666667% !important;
}
    .header-top {
        margin: 0 auto;
    }

    .search {
        width: 100%;
        float: none;
        padding-top: 2px;
        text-align: center;
    }
    .header-main {
        padding-left: 0px;
        padding-right: 0px;
    }

    .csslider > ul {
        width: 300px;
        height: 315px;
    }

    .product-description, .product-images {
        width: 100%;
        float: left;
        padding: 0;
    }

    .csslider {
        width: 300px;
        margin: 0 auto;
    }

    .csslider > .navigation label img {
        width: 50px;
        border: 1px solid #ccc;
        vertical-align: top;
    }

    .product-images {
        width: 300px;
        margin: 0 auto;
        text-align: center;
        float: none;
        height: 460px;
    }
    .csslider.infinity > input:last-of-type:checked ~ .arrows label:first-of-type, .csslider > input:nth-of-type(1):checked ~ .arrows label:nth-of-type(2), .csslider > input:nth-of-type(10):checked ~ .arrows label:nth-of-type(11), .csslider > input:nth-of-type(11):checked ~ .arrows label:nth-of-type(12), .csslider > input:nth-of-type(12):checked ~ .arrows label:nth-of-type(13), .csslider > input:nth-of-type(2):checked ~ .arrows label:nth-of-type(3), .csslider > input:nth-of-type(3):checked ~ .arrows label:nth-of-type(4), .csslider > input:nth-of-type(4):checked ~ .arrows label:nth-of-type(5), .csslider > input:nth-of-type(5):checked ~ .arrows label:nth-of-type(6), .csslider > input:nth-of-type(6):checked ~ .arrows label:nth-of-type(7), .csslider > input:nth-of-type(7):checked ~ .arrows label:nth-of-type(8), .csslider > input:nth-of-type(8):checked ~ .arrows label:nth-of-type(9), .csslider > input:nth-of-type(9):checked ~ .arrows label:nth-of-type(10) {
        right: 5px;
    }
    .csslider.infinity > input:first-of-type:checked ~ .arrows label:last-of-type, .csslider > input:nth-of-type(1):checked ~ .arrows label:nth-of-type(0), .csslider > input:nth-of-type(10):checked ~ .arrows label:nth-of-type(9), .csslider > input:nth-of-type(11):checked ~ .arrows label:nth-of-type(10), .csslider > input:nth-of-type(12):checked ~ .arrows label:nth-of-type(11), .csslider > input:nth-of-type(13):checked ~ .arrows label:nth-of-type(12), .csslider > input:nth-of-type(2):checked ~ .arrows label:nth-of-type(1), .csslider > input:nth-of-type(3):checked ~ .arrows label:nth-of-type(2), .csslider > input:nth-of-type(4):checked ~ .arrows label:nth-of-type(3), .csslider > input:nth-of-type(5):checked ~ .arrows label:nth-of-type(4), .csslider > input:nth-of-type(6):checked ~ .arrows label:nth-of-type(5), .csslider > input:nth-of-type(7):checked ~ .arrows label:nth-of-type(6), .csslider > input:nth-of-type(8):checked ~ .arrows label:nth-of-type(7), .csslider > input:nth-of-type(9):checked ~ .arrows label:nth-of-type(8) {
        left: 5px;
    }
    .header .logo {
        display: block;
        float: none;
        text-decoration: none;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
}

@media all and (max-width: 375px) {
    .search input[type="text"] {
        width: 266px;
    }
    .span3 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
}

@media all and (max-width: 320px) {
    .search input[type="text"] {
        width: 234px;
    }
}
